<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
  </head>

  <body>
    <h2>Hello welcome</h2>
    <%=image_tag "Screenshot from 2025-03-06 11-46-04.png"%>
      </body>
</html>
